html {
  cursor: url('../font/Normal_Select.cur'), auto;
}
body {
  margin: 0;
  padding: 0;
  background-image: url(../images/blur.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.field {
  margin: 2px;
  border-radius: 7px;
  width: 70%;
}
input, textarea {
  cursor: url('../font/crayon.cur'), auto;
  border-radius: 5px;
  border-color: #a9a9a9;
}
textarea {
  width: 135%;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  background-color: rgba(250, 220, 250, 0.5);
  width: 500px;
  font-family: sans-serif;
  border-radius: 20px;
  margin: auto;
  margin-top: 5%;
}
h2 {
  text-align: center;
  color: #fff;
  font-family: sans-serif;
}
button, button a {
  text-decoration: none;
  color: #000;
  cursor: url('../font/Link_Select.cur'), auto;
}
.bout1 {
  width: 80px;
  align-self: center;
  margin: 3px;
  border-radius: 5px;
}
.rang {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}
