body {
  margin: 0;
  padding: 0;
  background-image: url(../images/paint.jpg);
  background-attachment: fixed;
  background-size: cover;
  font-family: MaPolice2;
  cursor: url('../font/Normal_Select.cur'), pointer;
}
 main {
   /*display: flex;*/
   justify-content: center;
   align-items: center;
   width: 100%;
 }
#titre {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
ul li {
  list-style: none;
}
 a {
  text-decoration: none;
}
h1 {
  font-family: MaPolice;
  font-size: 80px;
  color: #ff9966;
  text-shadow: 4px 4px 2px #3C0E12;

}
h1:hover {
  text-shadow: 6px 6px 2px #3C0E12;
  cursor: url('../font/Link_Select.cur'), auto;
}
p {
  text-align: center;
  font-family: MaPolice2;
  font-size: 30px;
}
#box {
  text-align: center;
  /*display: none;*/
  background:#47780f;
   height:30px;
   width:0.5px;
   border:1px solid #47780f;
}
@font-face {
  font-family:  MaPolice;
  src: url(../font/york/letter2.ttf);
}
@font-face {
    font-family: MaPolice2;
    src: url(../font/font_light/font.otf);
}
