body {
  margin: 0;
  padding: 0;
  font-family: MaPolice2;

}

img {
  height: 100px;
  width: 130px;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-around;
}
nav ul li a{
  text-decoration: none;
  color: #6495ED;
}
nav ul li {
  padding-top: 5px;
}
nav ul {
  margin-top: 20px;
  text-align: right;
}

.titre {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
}
 /*FONT SIZE */
.section1, .section2, .section3, .section4 {
  font-size: 150%;
}

.section1 {

  /*background-color: rgba(20, 10, 10, 0.5);*/
}
.section2 {
  display: flex;
    /*background-color: rgba(20, 10, 50, 0.5);*/
}
.section2 div {

}
.section3 {
  /*background-color: rgba(20, 120, 50, 0.5);*/
}
h1, h2 {
  font-family: MaPoliceAMoi;
}

@font-face {
  font-family: MaPoliceAMoi;
  src: url(bernadette/bernadette.ttf);
}
@font-face {
  font-family: MaPolice2;
  src: url(font_light/font.otf);
}
